*{
	margin: 0;
	padding: 0;
	outline: none;  }
	header{
		height: 55px;
		background:  rgb(29, 31, 33, 0.9);
	}
	a{
		text-decoration: none;
	}
.menu a{
	text-decoration: none;

	color: #f2f4f7;
	padding: 10px 15px;  }

body{
	font-family:  "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size:1em; 
	 
	 background-size: cover;
}
.ner a:hover{
	color: #8b9099;
	border-bottom: 3px solid #fcac45; 
	text-decoration: none;
	
	
}
.need:hover{
border-bottom:0px ;
}
.menu{
	height: 3.5em;
 display: flex;
  align-items: center;
  justify-content: center ;
   position: fixed;
   background:  rgb(29, 31, 33, 0.9);
   width: 100%;
}
.need{
	margin-right: 600px;
	margin-left: 100px;

}
   html { overflow-x: hidden; }

.tol{
	text-align:center;
	color: #fff;
	font-family: 'Anton', sans-serif;
	padding:15px 0px 0px 0px;

}
.conteiner{

	background-image: url(img/fon.jpg) ;
	background-size:100% ; 
	-o-background-size:100% ;
	height: 600px;


	
	
}
.n{
height: 400px;
margin: 50px 0px 0px 0px;
box-shadow: inset 0 0 10px;	
background: #e3e6ed;
border-radius: 12px;	

}
.friends{

	width: 125px;
   display: block;
  margin: 0px auto ;  
  padding: 12px 0px 0px 0px;
}
.friends:hover{
	opacity: 0.4;
}
.our_name{
	text-align: center;
	margin: 15px;

}
main{
	background-size: cover;
}